<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Setup file -->
    <arg name="device" default="2i2" doc="The recording device which you are using. e.g. 18i8"/>
    <arg name="pcm_id" default="hw:1,0" doc="please type 'arecord -l' to check your pcm device ID, 
        then assign your pcm device, e.g: hw:2,0" />
    <arg name="yaml_file" default="tdoa_params"/>

    <!-- Acoustic sampling node -->
    <!-- <node name="acoustic_sampling_node" pkg="acoustic_sampling" type="acoustic_sampling_node" output="screen" clear_params="true" required="true">
        <rosparam command="load" file="$(find acoustic_sampling)/config/$(arg device).yaml" />
        <param name="pcm_id" type="str" value="$(arg pcm_id)" />
    </node> -->

    <node name="tdoa_3mic" pkg="doa_estimation" type="tdoa_2mic_robotx.py" output="screen" clear_params="true" required="true">
        <rosparam command="load" file="$(find doa_estimation)/config/$(arg yaml_file).yaml" />
    </node>


</launch>